/* timeline.component.css */
.p-timeline-event-opposite {
    text-align: center;
  }
  
  .p-timeline-event-content {
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .p-timeline-event-separator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .p-timeline-event-marker {
    background-color: #673AB7;
  }
  
  .p-timeline-event-connector {
    background-color: #9E9E9E;
  }
  