<div class="timeline-container">
  <p-timeline [value]="events" [layout]="'horizontal'" [align]="'bottom'">
    <ng-template pTemplate="marker" let-event>
      <span
        class="marker outer"
        (click)="setActiveEvent(event._id)"
        [ngClass]="{'active': isActive(event._id)}"
        pTooltip="{{ event.incidentType }}" tooltipPosition="top"
      >
        <span class="marker inner"></span>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <div
        (click)="setActiveEvent(event._id)"
        [ngClass]="{'active': isActive(event._id)}"
        class="event-tab"
      >
      </div>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
      <small></small>
    </ng-template>
  </p-timeline>

  <!-- Pointer -->
  <div class="pointer" [ngStyle]="{'left': pointerPosition + '%'}"></div>

  <!-- Display additional info for the active event -->
  <div *ngIf="activeEventId" class="event-info">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <div class="info">
          <h2>{{ getActiveEvent()?.incidentType }}</h2>
          <p><strong>Incident Type:</strong> {{ getActiveEvent()?.incidentType }}</p>
          <p><strong>Description:</strong> {{ getActiveEvent()?.description }}</p>
          <p><strong>Time:</strong> {{ getActiveEvent()?.time }}</p>
          <p><strong>Status:</strong> {{ getActiveEvent()?.status }}</p>
          <video [src]="videoUrl" controls></video>
        </div>
      </mat-sidenav-content>
      <mat-sidenav position="end" opened mode="side">
        <div class="feedback">
          <h2>Feedback</h2>
          <app-feedback [eventType]="getActiveEvent()?.incidentType"></app-feedback>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>
