button:hover {
  cursor: pointer;
}

.timeline-container {
  padding: 1rem;
}

.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 50%;
  position: absolute;
}

// creates the inner circle
.marker.inner { 
  background-color: grey;
  width: 12px;
  height: 12px;
}

.marker:hover {
  cursor: pointer;
}

:host ::ng-deep {
  .p-timeline-horizontal .p-timeline-event {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
