<div class="home-container">
  <mat-toolbar>
    <div class="left">
      <button mat-icon-button (click)="collapseSidebar()">
        <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
      </button>
      <span id="">Fleet Feedback</span>
    </div>
    <div class="right">
      <span id="profile">Profile</span>
    </div>
  </mat-toolbar>
  <nav class="sidebar-container" [ngClass]="{ collapsed: sidebarCollapsed }">
    <div class="sidebar">
      <button class="sidebar-item" (click)="setView(0)">
        <mat-icon fontIcon="home"></mat-icon><span>Your Report</span>
      </button>
      <button class="sidebar-item" (click)="setView(1)">
        <mat-icon fontIcon="history"></mat-icon><span>Trip History</span>
      </button>
      <button class="sidebar-item" (click)="setView(2)">
        <mat-icon fontIcon="school"></mat-icon><span>Coaching</span>
      </button>
      <button class="sidebar-item">
        <mat-icon fontIcon="open_in_new"></mat-icon><span>MyGeotab</span>
      </button>
      <button class="sidebar-item" id="settings">
        <mat-icon fontIcon="settings"></mat-icon><span>Settings</span>
      </button>
    </div>
    <button id="logout">
      <mat-icon fontIcon="logout"></mat-icon><span>Logout</span>
    </button>
  </nav>
  <div [ngSwitch]="viewmode" class="home-content-wrapper">
    <ng-container *ngSwitchCase="0">
      <app-map-view></app-map-view>
      <app-dashboard></app-dashboard>
    </ng-container>
    <ng-container *ngSwitchCase="1">
        <app-trip-table></app-trip-table>
    </ng-container>
    <ng-container *ngSwitchCase="2">
        <app-chat></app-chat>
    </ng-container>
  </div>
</div>
