<div class="dashboard-container">
    <p-tabView>
        <p-tabPanel header="Timeline">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </p-tabPanel>
        <p-tabPanel header="Table">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            </p>
        </p-tabPanel>
        <p-tabPanel header="Summary">
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
        </p-tabPanel>
    </p-tabView>
</div>