<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form action="" (submit)="login()">
            <p-floatLabel>
                <label for="email">Email</label>
                <input type="text" pInputText id="email">
            </p-floatLabel>
            <p-floatLabel>
                <label for="password">Password</label>
                <input type="text" pInputText id="password">
            </p-floatLabel>
            <button pButton type="submit" label="Submit"></button>
        </form>
    </div>
</div>